* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	color:rgb(248, 112, 96);
	padding: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: rgb(16, 37, 66);
	border-radius: 10px;
	display: flex;
	max-width: 400px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.75rem;
	padding: 1.5rem 0.75rem;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

img {
	border-radius: 10px;
}

.details {
	font-size: 0.8rem;
	text-align: center;
}

.status,
.location {
	font-size: 0.75rem;
}

.details,
.social-links {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.icon {
	position: absolute;
	left: 70px;
	top: 50%;
	transform: translateY(-50%);
}

.social-links a {
	font-weight: bold;
	color: rgb(16, 37, 66);
	background-color: rgb(248, 112, 96);
	padding: 12px 100px;
	border-radius: 5px;
	text-decoration: none;
	position: relative;
	transition: box-shadow 0.15s ease-in-out;
}

a:hover {
	box-shadow: white 0px 8px 30px;
}